* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
  text-decoration: none;
}

button {
  appearance: none;
  padding: 0;
  cursor: pointer;
  border: none;
}
input,
button,
textarea {
  outline: none;
  border: none;
}
